# Requirements for Productivity Tools
# See README.md for setup instructions.

colorama
faiss-cpu
gradio
langchain
langchain-community
numpy
openai-whisper
oci
PyPDF2
pypdf
requests
scipy
sounddevice
tzlocal
docstring-parser
backports.zoneinfo; python_version < "3.9"
